///
/// Tab Downloader
/// Animations
///

/// Underline center animation
/// Used with mixin: underline--center
@keyframes underline {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

/// Undo shrinking and opaquing
@keyframes reveal {
	50% {
		opacity: 1;
	}

	100% {
		transform: none;
	}
}
