///
/// Tab Downloader
/// Attribution
///

// Credits displayed below Test Run
.attribution {
	border-top: 1px solid $md-dark-text-dividers;
	font-size: .875rem;
	margin: baseline(8) 0 baseline(4);
	padding-top: baseline(4);

	&__title {
		font-size: 1.125em;
		font-weight: 600;
		margin: 0;
	}

	a {
		@include underline--right();
		color: $color-attribution-text;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color-attribution-link;
		}
	}
}
