///
/// Tab Downloader
/// Buttons
///

.btn {
	@include ripple--clip();
	@include btn-reset();
	align-items: center;
	border: 0;
	border-radius: $border-radius--small;
	color: $color-button-text--primary;
	cursor: pointer;
	display: inline-flex;
	font: 600 #{$font-size-small}/1.428 $font-family-title;
	justify-content: center;
	margin: 0;
	outline: 0;
	overflow: hidden;
	padding: $base;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: uppercase;
	transition: $transition--btn;
	vertical-align: middle;
	white-space: nowrap;
	will-change: background-color, box-shadow;

	&:hover::before,
	&:focus::before {
		opacity: .6;
		transition-duration: duration(3);
	}

	/// Button variations currently unused
	/// Keep the style handy in case needed in the future
	//&--raised {
	//	@include shadow(2);
	//	transition: #{$transition--btn}, opacity duration() ease(out-quad);
	//
	//	&:hover {
	//		@include shadow(4);
	//	}
	//}
	//
	//&--small {
	//	padding: .5rem 1rem;
	//}

	.icon {
		color: currentColor;
		font-size: 1.25rem;
		margin-right: .5em;
	}

	/// @deprecated
	//&--fab {
	//	@include ripple--clip($md-white, duration(3));
	//	border-radius: 50%;
	//	border: none;
	//	box-sizing: border-box;
	//	cursor: pointer;
	//	display: inline-flex;
	//	fill: currentColor;
	//	font: bold #{$font-size-small}/#{$base} $font-family-monospace;
	//	height: $size-fab;
	//	justify-content: center;
	//	overflow: hidden;
	//	padding: 0;
	//	position: relative;
	//	transition: box-shadow $duration-base ease(authentic), transform duration(.75) ease(in-sine);
	//	user-select: none;
	//	width: $size-fab;
	//	will-change: box-shadow, transform, opacity;
	//
	//	.icon {
	//		height: $size-button-icon;
	//		left: 50%;
	//		position: absolute;
	//		top: 50%;
	//		transform: translate(-50%, -50%);
	//		transition: transform duration(2) ease(out-expo), opacity duration() ease(out-expo);
	//		transition-delay: duration(.25);
	//		width: $size-button-icon;
	//
	//		/// `.icon--swap` spins and fades element's icons on toggle or hover
	//		&--swap {
	//			opacity: 0;
	//			transform: translate(-50%, -50%) rotate(-180deg);
	//		}
	//	}
	//
	//	/// Shrink and fade out a button
	//	&.conceal {
	//		box-shadow: none;
	//
	//		&,
	//		.icon {
	//			opacity: 0;
	//			transform: scale(.4);
	//			transition: all duration() ease(out-quad);
	//		}
	//
	//		.icon {
	//			transform: rotate(270deg);
	//		}
	//	}
	//}
}
