///
/// Tab Downloader
///

html {
	font-size: $font-size-root;
}

body {
	-webkit-font-smoothing: antialiased;
	background-color: $color-background;
	color: $color-text;
	font-family: $font-family-body;
	line-height: 1;
}

/// Sticky footer
.tdl {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__wrapper {
		flex: 1;
	}
}

/// Horizontal wrapper
.container {
	clear: both;
	margin: 0 auto;
	//min-width: 300px;
	padding: 0 baseline();

	//@media screen and (min-width: 960px) {
	//	margin: 0 auto;
	//	width: 1130px // ceil(($size-filetype-card--max-width + $base) * 5);
	//}
}

.hide,
.sr-only,
.offline [data-offline='false'] {
	@extend %hide;
}

/// Elevation
//@for $z-value from 0 through length($shadow-umbra-map) {
//	.shadow--z#{$z-value},
//	.shadow--z#{$z-value}.shadow--z#{$z-value} {
//		@include shadow($z-value);
//	}
//}
