///
/// Tab Downloader
/// Icons
///

.icon {
	display: inline-block;
	height: 1em;
	overflow: visible;
	width: 1em;

	use {
		fill: currentColor;
		stroke-width: 0;
		stroke: currentColor;
	}

	p > & {
		vertical-align: middle;
	}
}

/// data-swap's value is replaced with 'true' after swapping
[data-swap='true'] .icon use {
	transform-origin: center;
	transition: opacity $duration-base ease-out, transform $duration-base ease-out;
	will-change: opacity, transform;

	+ use {
		opacity: 0;
		transform: rotate(270deg);
	}
}

[data-swap='true'][aria-pressed='true']:hover .icon use,
[data-swap='true'][aria-pressed='true']:focus .icon use {
	opacity: 0;
	transform: rotate(270deg);

	+ use {
		opacity: 1;
		transform: rotate(0deg);
	}
}

