///
/// Tab Downloader
/// CSS Reset
/// @link http://meyerweb.com/eric/tools/css/reset/
///

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

//blockquote, q {
//	quotes: none;
//}
//
//blockquote::before,
//blockquote::after,
//q::before, q::after {
//	content: '';
//	content: none;
//}
//
//table {
//	border-collapse: collapse;
//	border-spacing: 0;
//}
