///
/// Tab Downloader
/// Typography
///

p {
	line-height: $line-height-base;
	margin-bottom: 0;
	margin-top: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $md-dark-text-primary;
	font-family: $font-family-title;
	line-height: $line-height-base;
	margin-bottom: 0;
	margin-top: $line-height-base;
}

h1 {
	font-size: $font-size-h1;
	line-height: $line-height-base;
	margin-top: ceil($line-height-base * 2);
}

h2 {
	font-size: $font-size-h2;
	line-height: ceil($line-height-base * 2);
	margin-top: ceil($line-height-base * 2);
}

h3 {
	font-size: $font-size-h3;
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

/// Text effects and helper classes
//.text {
//	&--primary {
//		color: $color--primary;
//	}
//
//	&--accent {
//		color: $color--accent;
//	}
//
//	&--brand {
//		font-family: $font-family-title;
//		font-weight: bold;
//		text-decoration: none;
//		text-transform: uppercase;
//	}
//
//	&--right {
//		text-align: right;
//	}
//
//	&--shout {
//		text-transform: uppercase;
//	}
//
//	&--fat {
//		font-weight: 900;
//	}
//}

.lead {
	font: 500 1rem/1.25 $font-family-title;
	margin-bottom: baseline(2);
}

.license {
	border-bottom: 1px solid $md-grey-300;
	color: $md-grey-600;
	font: .825rem $font-family-monospace;
	letter-spacing: 0;
	margin-top: 1rem;
	padding-bottom: 1rem;

	summary {
		cursor: pointer;
		font: 600 1rem $font-family-title;
	}
}
