<!doctype html>
<html class="offline" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<title>Tab Downloader Options</title>
	<meta name="description" content="Tab Downloader extension configuration">

	<meta name="application-name" content="Tab Downloader">
	<meta name="theme-color" content="#1e88e5">
	<link href="https://chrome.google.com/webstore/detail/{{webstoreId}}" rel="chrome-webstore-item">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono%7CRoboto:300,400,400i,500,700,900" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">

	<link href="assets/img/favicon.png" rel="shortcut icon">
</head>
<body role="application">
<div class="tdl">
	<noscript>
		<div class="alert alert-danger">
			<p><b>Hang on!</b> JavaScript must be enabled in order to modify the extension&rsquo;s settings.</p>
		</div><!-- /.alert alert-danger -->
	</noscript>

	<div class="tdl__wrapper">
		<header class="header">
			<svg class="icon header__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 role="img" aria-hidden="true">
				<use xlink:href="assets/img/sprites.svg#icon--tdl"></use>
			</svg>
			<!-- /.icon -->

			<h1>Tab Downloader</h1>
		</header>
		<!-- /.header -->

		<div class="tabs" role="tabpanel">
			<nav class="tabs__nav">
				<ul>
					<li class="active" role="presentation">
						<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-hidden="true">
							<use xlink:href="assets/img/sprites.svg#icon--{{icons.select}}"></use>
						</svg>

						<a href="#select-filetypes" role="tab" aria-controls="select-filetypes">Select File Types</a>
					</li>
					<li role="presentation">
						<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-hidden="true">
							<use xlink:href="assets/img/sprites.svg#icon--{{icons.settings}}"></use>
						</svg>

						<a href="#settings" role="tab" aria-controls="settings">Settings</a>
					</li>
					<li role="presentation" data-offline="false">
						<svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-hidden="true">
							<use xlink:href="assets/img/sprites.svg#icon--{{icons.testRun}}"></use>
						</svg>

						<a href="#test-run" role="tab" aria-controls="test-run" data-lazyload="test-run">Test Run</a>
					</li>
				</ul>
			</nav>
			<!-- /.tabs__nav -->

			<div class="container tabs__container" role="tablist">
				<div class="tabs__tab select-filetypes" id="select-filetypes" role="tab" aria-selected="true">
					<div class="select-filetypes__container">
						{{#fileTypes}}
							<label class="filetype" for="filetype--{{value}}" data-group="{{group}}">
								<input id="filetype--{{value}}" name="download[]" type="checkbox" value="{{value}}">

								<span class="card" role="button" data-swap="assets/img/sprites.svg#icon--close" aria-pressed="false">
									<svg class="icon filetype__icon" xmlns="http://www.w3.org/2000/svg"
										 xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-hidden="true">
										<circle cx="50%" cy="50%" r="100%" fill="#fff"></circle>
										<use xlink:href="assets/img/sprites.svg#icon--{{icon}}"></use>
									</svg>

									<span class="filetype__label">{{label}}</span>
								</span>
								<!-- /.card -->
							</label>
							<!-- /.filetype -->
						{{/fileTypes}}
					</div>
					<!-- /.select-filetypes__container -->
				</div>
				<!-- /.tabs__tab -->

				<div class="tabs__tab" id="settings" role="tab" aria-hidden="true">
					<section class="settings">
						<div class="card card--large">
							<h2>Additional Settings</h2>

							<div class="checkbox">
								<div class="checkbox__input">
									<input id="closeAfterSave" name="closeAfterSave" type="checkbox" checked>
									<span class="checkmark"></span>
								</div>
								<!-- /.checkbox__input -->

								<label class="label" for="closeAfterSave">Close targeted tabs after download</label>
							</div>
							<!-- /.checkbox -->

							<div class="checkbox">
								<div class="checkbox__input">
									<input id="conflictAction" name="conflictAction" type="checkbox" value="uniquify"
										   checked>
									<span class="checkmark"></span>
								</div>
								<!-- /.checkbox__input -->

								<label class="label" for="conflictAction">Avoid duplicate downloads</label>
							</div>
							<!-- /.checkbox -->
						</div>
						<!-- /.card -->
					</section>
					<!-- /.settings -->
				</div>
				<!-- /.tabs__tab -->

				<div class="tabs__tab tabs__tab--flex" id="test-run" role="tab" aria-hidden="true">
					<section class="demo">
						<h2>Test Run</h2>

						<p class="lead">Press the images and links below to open new tabs containing downloadable
							files.</p>

						<ul class="list list--grid">
							{{#fileTypes}}
								{{#demos}}
									{{#img}}
									<li class="list--grid__item" data-label="{{label}}" aria-label="{{label}}" aria-hidden="true">
										<a href="{{href}}" target="_blank" rel="noopener" title="Open in new tab">
											<div class="list--grid__background">
												<img class="list--grid__background__img" src="assets/img/loading.gif" alt="{{label}} example" width="{{thumbnailSize}}" height="{{thumbnailSize}}" data-src="{{img}}">
											</div>
											<!-- /.list-grid__background -->

											<div class="list--grid__title">
												{{label}}

												<svg class="icon icon--external" xmlns="http://www.w3.org/2000/svg"
													 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
													<use xlink:href="assets/img/sprites.svg#icon--external"></use>
												</svg>
											</div>
											<!-- /.list--grid__title -->
										</a>
									</li>
									{{/img}}
								{{/demos}}
							{{/fileTypes}}
						</ul>
						<!-- /.list list--grid -->

						<div class="list-wrapper">
							<ul class="list list--stack">
								{{#fileTypes}}
									{{#demos}}
										{{^img}}
											<li data-group="{{group}}" data-label="{{label}}" aria-hidden="true">
												<a class="card list--stack__item" href="{{href}}" target="_blank" rel="noopener" title="Open in new tab">
													<svg class="icon list--stack__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" aria-hidden="true">
														<circle cx="50%" cy="50%" r="100%" fill="#bdbdbd"></circle>
														<use xlink:href="assets/img/sprites.svg#icon--{{icon}}"></use>
													</svg>

													<span class="list--stack__header">
														{{label}}<br>
														<span>{{#basename}}{{href}}{{/basename}}</span>
													</span>

													<svg class="icon icon--external" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
														<use xlink:href="assets/img/sprites.svg#icon--external"></use>
													</svg>
												</a>
											</li>
										{{/img}}
									{{/demos}}
								{{/fileTypes}}
							</ul>
							<!-- /.list list--stack -->
						</div>
						<!-- /.list-wrapper -->

						<footer class="attribution">
							<p>Photos and graphics via <a href="https://unsplash.com/" target="_blank" rel="noopener">Unsplash</a>
								and <a href="http://www.freepik.com" target="_blank" rel="noopener">FreePik</a>.<br>
								<b><a href="#license" data-open="dialog">See license and attribution</a></b>.</p>
							</footer>
						</section>
						<!-- /.demo -->
					</div>
					<!-- /.tabs__tab -->
				</div>
				<!-- /.tabs__container -->
			</div>
			<!-- /.tabs -->
		</div>
		<!-- /.tdl__wrapper -->

		<div class="footer">
			<div class="container">
				<h4 class="footer__header">
					<a href="http://jasongardner.co" target="_blank" rel="author">By Jason</a>
					<b><a href="#license" title="View license" data-open="dialog">Some rights reserved</a></b>
				</h4>

				<p class="footer__links">
					<a href="{{repo}}" target="_blank" rel="noopener">Version {{version}}</a>
					<a href="https://chrome.google.com/webstore/detail/{{webstoreId}}/support" target="_blank" rel="noopener">
						Report a Bug
						<svg class="icon" xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
							<use xlink:href="assets/img/sprites.svg#icon--external"></use>
						</svg>
					</a>
					<a href="https://chrome.google.com/webstore/detail/{{webstoreId}}/reviews" target="_blank" rel="noopener">
						Rate in Web Store
						<svg class="icon" xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
							<use xlink:href="assets/img/sprites.svg#icon--external"></use>
						</svg>
					</a>
				</p>
			</div>
			<!-- /.container -->
		</div>
		<!-- /.footer -->
	</div>
	<!-- /.tdl -->

	<div class="dialog" id="download-requirements" role="alertdialog" aria-describedby="download-requirements__body" aria-hidden="true">
		<div class="dialog__window">
			<header class="dialog__header">
				<h2>Hey wait!</h2>
			</header>
			<!-- /.dialog__header -->

			<div class="dialog__body" id="download-requirements__body">
				<p>You must select at least <b>one</b> file type to download.</p>
			</div>
			<!-- /.dialog__body -->

			<footer class="dialog__footer">
				<button class="btn dialog__btn" type="button">OK</button>
			</footer>
			<!-- /.dialog__footer -->
		</div>
		<!-- /.dialog__content -->
		<div class="dialog__backdrop"></div>
	</div>
	<!-- /.dialog -->

	<div class="dialog" id="license" role="dialog" aria-labelledby="license__title" aria-describedby="license__body" aria-hidden="true">
		<div class="dialog__window">
			<div class="dialog__header">
				<h2 id="license__title">Open Source License</h2>
			</div>
			<!-- /.dialog__header -->

			<div class="dialog__body" id="license__body">
				<p class="lead">
					<b>Tab Downloader</b> is open-source software. Its source code is publicly available on
					<a href="{{repo}}" target="_blank" rel="noopener">
						{{repoHost}}
						<svg class="icon" xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
							<use xlink:href="assets/img/sprites.svg#icon--external"></use>
						</svg>
					</a>
				</p>

				<details class="license">
					<summary>{{licenseTitle}}</summary>
					{{{license}}}
				</details>
				<!-- /.license -->

				{{{attribution}}}
			</div>
			<!-- /.dialog__body -->

			<div class="dialog__footer">
				<button class="btn dialog__btn" type="button">Thanks</button>
			</div>
			<!-- /.dialog__footer -->
		</div>
		<!-- /.dialog__content -->
		<div class="dialog__backdrop"></div>
	</div>
	<!-- /.dialog -->

	<div class="snackwrap" role="alert"></div>

	<script src="assets/js/script.js"></script>
</body>
</html>
